<table id="grid-table">
    <tbody>
    {{#each row in grid}}
      <tr>
          {{#each cell in row}}
            <td {{bind-attr class="cell.cellClass"}}> </td>
          {{/each}}
      </tr>
    {{/each}}
    </tbody>
</table>