<div id="game-control">
    <p id="game-title">Snakey</p>
    <p id="game-description">Eat the frogs. Save the world.</p>

    <div id="float-left">
      <div id="new-game-btn"><span {{action "newGame"}}>New Game</span></div>
      <div id="game-score">Score: {{score}}</div><div id="game-highscore">Highscore: {{highScore}}</div>
    </div>
</div>