<div id="game-container">
  {{game-control newGameClick="newGame" score=score highScore=highScore speedUp=speedUp infScrolling=infScrolling}}

  {{game-grid eatFrog="score" gameState=gameState speedUp=speedUp infScrolling=infScrolling}}
</div>