body {
  background-color: yellowgreen;
}

#centered-form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(29, 109, 29);
}

#game-container {
  display: inline-block;
}

#game-options {
  display: none;
  font-size: medium;
  text-align: left;
  width: 200px;
}

#game-control{
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(95, 152, 34);
  border-radius: 5px 5px 0 0;
  border: 1px solid;
  margin-top: 20px;
}

#game-title {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(150, 34, 34);
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 5px;
}

#game-description{
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

#grid-table {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 0;
  margin-bottom: 20px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  background-color: rgb(183, 212, 168);
}

#grid-table td {
  width:20px;
  height:20px;
  padding: 0;
}

.empty-cell {
  background-color: rgb(183, 212, 168);
}

.frog-cell {
  background: url('images/frog.png') no-repeat center center;
}

.snake-head-down-cell {
  background: url('images/snake-head.png') no-repeat center center;
}

.snake-head-up-cell {
  background: url('images/snake-head.png') no-repeat center center;
  transform: rotate(180deg);
}

.snake-head-left-cell {
  background: url('images/snake-head.png') no-repeat center center;
  transform: rotate(90deg);
}

.snake-head-right-cell {
  background: url('images/snake-head.png') no-repeat center center;
  transform: rotate(270deg);
}

.snake-body-down-cell {
  background: url('images/snake-body.png') no-repeat center center;
}

.snake-body-up-cell {
  background: url('images/snake-body.png') no-repeat center center;
}

.snake-body-left-cell {
  background: url('images/snake-body.png') no-repeat center center;
  transform: rotate(90deg);
}

.snake-body-right-cell {
  background: url('images/snake-body.png') no-repeat center center;
  transform: rotate(90deg);
}

.snake-tail-down-cell {
  background: url('images/snake-tail.png') no-repeat center center;
}

.snake-tail-up-cell {
  background: url('images/snake-tail.png') no-repeat center center;
  transform: rotate(180deg);
}

.snake-tail-left-cell {
  background: url('images/snake-tail.png') no-repeat center center;
  transform: rotate(90deg);
}

.snake-tail-right-cell {
  background: url('images/snake-tail.png') no-repeat center center;
  transform: rotate(270deg);
}

#new-game-btn {
  text-align: center;
  width: 100px;
  padding: 3px 5px;
  background-color: rgb(183, 141, 73);
  border-radius: 5px;
  transition: all .1s ease-in-out;
  font-weight: bold;
  border: 1px solid;
  margin-right: auto;
  margin-left: auto;
}

#new-game-btn:hover {
  background-color: rgb(168, 126, 68);
  border-color: black;
  box-shadow:0 0 2px #000000;
  cursor: pointer;
}

#sound-control {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}

#options-control {
  display: none;
}

#sound-control:hover {
  cursor: pointer;
}

#game-highscore {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.bold-text {
  font-weight: bold;
}

#game-score {
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
}
.sound-off {
  background: url('images/sound-off.png') no-repeat center center;
}

.sound-on {
  background: url('images/sound-on.png') no-repeat center center;
}
